.containerimg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    min-height: 300px;
}

.containerinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(54, 54, 235);
    margin-top: 20px;
    min-height:400px;
}

.containerinfo ol  {
    width: 40%;
    
}

/* From uiverse.io by @nikk7007 */
/* From uiverse.io by @adamgiebl */
.container_button{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
.button {
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid rgb(255,99,71);
    background: linear-gradient(to right,  rgba(255, 99, 99, 0.1) 1%, transparent 40%,transparent 60% , rgba(255,99,71,0.1) 100%);
    color: rgb(255,99,71);
    box-shadow: inset 0 0 10px rgba(255, 90, 90, 0.4), 0 0 9px 3px rgba(255,99,71,0.1);
    width: 210px;
    
   }
   
   .button:hover {
    color: rgb(255,99,71);
    box-shadow: inset 0 0 10px rgba(255, 90, 90, 0.4), 0 0 9px 3px rgba(255,99,71,0.2);
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(255, 90, 90, 0.4) 40%,rgba(255,99,71,0.1) 60% , transparent 100%);
   }
   
   .button:hover:before {
    transform: translateX(15em);
   }
   


/* progress */

 .bar{
    display: block;
    height: 20px;
    border-radius: 2px;
    background-color: #585963;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 0 0 10px #D47A18;
 }

 .bar span{
    height: 20px;
    float: left;
    background: linear-gradient(#E5910A, #E9D310);
 }

 .number{
    float: right;
    width: 20px;
    height: 3px;
    color: #000000;
    place-items: center;
    z-index: 11;
 }

 .hp{
    width: 100%;
    animation: hp 4s;
 }

 .attacks{
    width: 64%;
    animation: attacks 4s;
 }

 .defence{
    width: 58%;
    animation: defence 4s;
 }

 .Sattacks{
    width: 79%;
    animation: Sattacks 4s;
 }

 .Sdefence{
    width: 65%;
    animation: Sdefence 4s;
 }

 .speed{
    width: 72%;
    animation: speed 4s;
 }

 @keyframes hp {
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
 }

 @keyframes attacks {
    0% {
        width: 0;
    }
    100%{
        width: 64%;
    }
 }

 @keyframes defence {
    0% {
        width: 0;
    }
    100%{
        width: 58%;
    }
 }

 @keyframes Sattacks {
    0% {
        width: 0;
    }
    100%{
        width: 79%;
    }
 }

 @keyframes Sdefence {
    0% {
        width: 0;
    }
    100%{
        width: 65%;
    }
 }

 @keyframes speed {
    0% {
        width: 0;
    }
    100%{
        width: 72%;
    }
 }