.progress {
	background-color: #d8d8d8;
	border-radius: 10px;
	position: relative;
	margin: 10px 0;
	height: 25px;
	width: 300px;
}

.progressdone {
	background: linear-gradient(to left, #E5910A, #E9D310);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 10px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	max-width: 300px;
	opacity: 0;
	transition: 1s ease 0.3s;
	animation: progressdone 4s;
}

/* @keyframes progressdone {
    0% {
        width: 0;
    }
    100%{
        width: initial;
    }
 } */


    
 